.progress-ring {
    background-image: radial-gradient(rgb(132, 132, 132), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    border-radius: 100%;
}

.progress-ring__circle {
    stroke-dasharray: 50 25;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

input {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
}

.gauge {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

#guageb {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
    top: 35%;
    right: 42%;
    font-size: x-large;
    z-index: 1;
}

.guageb2 {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
    top: 50%;
    right: 32%;
    font-size: x-large;
    z-index: 1;
}

/* -- Players -- */
.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 2%;
    left: 0%;
}

.player {
    background-image: linear-gradient(rgb(0, 80, 201), rgb(0, 0, 0));
    height: 30px;
    width: 250px;
    clip-path: polygon(0 0%, 0% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 0% 100%, 0% 90%, 0% 10%);
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 2%;
    right: 0%;
}

.player2 {
    background-image: linear-gradient(rgb(145, 87, 0), rgb(0, 0, 0));
    height: 30px;
    width: 250px;
    clip-path: polygon(0 10%, 10% -10%, 100% 0, 100% 0%, 100% 100%, 100% 100%, 5% 100%, 0% 85%, 0% 10%)
}

.p1 {
    position: absolute;
    padding: 0%;
    margin: 0%;
    color: white;
    left: 1%;
}

.p2 {
    position: absolute;
    padding: 0%;
    margin: 0%;
    color: white;
    right: 1%;
}

#boost {
    position: absolute;
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
    top: 0%;
    right: 24%;
}

#boost2 {
    position: absolute;
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
    top: 30%;
    right: 24%;
}

#boost3 {
    position: absolute;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 60%;
    right: 24%;
}

#boost4 {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 0%;
    left: 23%;
}

#boost5 {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 30%;
    left: 23%;
}

#boost6 {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 60%;
    left: 23%;
}

#progress-bar {
    background-color: rgb(0, 85, 255);
    width: 250px;
    height: 5px;
    top: 11%;
    left: .5%;
    position: absolute;
}

#progress-bar2 {
    background-color: rgb(0, 85, 255);
    width: 250px;
    height: 5px;
    top: 5%;
    left: .5%;
    position: absolute;
}

#progress-bar3 {
    background-color: rgb(0, 85, 255);
    width: 250px;
    height: 5px;
    top: 10%;
    left: .5%;
    position: absolute;
}

#progress-bar4 {
    background-color: rgb(255, 136, 0);
    width: 250px;
    height: 5px;
    top: 11%;
    right: .5%;
    position: absolute;
}

#progress-bar5 {
    background-color: rgb(255, 136, 0);
    width: 250px;
    height: 5px;
    top: 5%;
    right: .5%;
    position: absolute;
}

#progress-bar6 {
    background-color: rgb(255, 136, 0);
    width: 250px;
    height: 5px;
    top: 10%;
    right: .5%;
    position: absolute;
}

.bar {
    position: relative;
    width: 227px;
    height: 6px;
    top: 70%;
    left: 2px;
    background-color: rgba(84, 84, 84, 0.409);
}

.bar2 {
    position: relative;
    width: 227px;
    height: 6px;
    top: 70%;
    left: 19px;
    background-color: rgba(84, 84, 84, 0.409);
}

/* -- End -- */
/* --Scoreboard -- */
.scoreboard {
    position: absolute;
    width: 200px;
    height: 15px;
    background-image: linear-gradient(rgb(94, 94, 94), rgb(0, 0, 0));
    top: 0%;
    right: 42%;
}

.scoreboard3 {
    position: absolute;
    width: 150px;
    height: 25px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(94, 94, 94));
    top: 50px;
    right: 44%;
    z-index: 1;
}

.gameboard {
    position: absolute;
    top: 50px;
    left: 32.75%;
    width: 450px;
    height: 20px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(94, 94, 94));
    clip-path: polygon(0 0%, 0% 0%, 95% 0, 100% 0, 100% 85%, 97% 100%, 5% 113%, 0% 85%, 0% 10%);
}

.scoreboard4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
    height: 20px;
}

#game1 {
    position: absolute;
    background-color: blue;
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 8px;
    opacity: 0%;
}

#game2 {
    position: absolute;
    background-color: blue;
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 37.5px;
    opacity: 0%;
}

#game3 {
    position: absolute;
    background-color: blue;
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 66px;
    opacity: 0%;
}

#game4 {
    position: absolute;
    background-color: blue;
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 95.5px;
    opacity: 0%;
}

#game5 {
    position: absolute;
    background-color: blue;
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 124.5px;
    opacity: 0%;
}

.scoreboard4pt2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
    height: 20px;
    right: 5px;
}

#game6 {
    position: absolute;
    background-color: rgb(255, 136, 0);
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 8.5px;
    opacity: 0%;
}

#game7 {
    position: absolute;
    background-color: rgb(255, 136, 0);
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 37.5px;
    opacity: 0%;
}

#game8 {
    position: absolute;
    background-color: rgb(255, 136, 0);
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 66.5px;
    opacity: 0%;
}

#game9 {
    position: absolute;
    background-color: rgb(255, 136, 0);
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 95.5px;
    opacity: 0%;
}

#game10 {
    position: absolute;
    background-color: rgb(255, 136, 0);
    height: 5px;
    width: 17.5px;
    top: 7.75px;
    left: 124.5px;
    opacity: 0%;
}

.home {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 25%;
    left: 2%;
}

.away {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 25%;
    right: 2%;
}

.scoreback {
    position: inherit;
    width: 30px;
    height: 40px;
    background-color: blue;
    left: 40%;
}

.scoreback2 {
    position: inherit;
    width: 30px;
    height: 40px;
    background-color: rgb(255, 136, 0);
    right: 36%;
}

.score {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 15%;
    left: 35%;
    font-size: x-large;
}

.score2 {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 15%;
    right: 35%;
    font-size: x-large;
}

.head {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    left: 3%;
    font-size: 75%;
}

.games {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    left: 10%;
    top: 10%;
}

.game1out {
    background-color: rgba(255, 255, 255, 0.635);
    height: 6px;
    width: 19px;
    opacity: 100%;
}

.game2out {
    background-color: rgba(255, 255, 255, 0.635);
    height: 6px;
    width: 19px;
    opacity: 100%;
}

.scoreboard2 {
    position: absolute;
    width: 620px;
    height: 40px;
    top: 15px;
    right: 25%;
}

.pt1 {
    left: 0px;
    position: inherit;
    width: 250px;
    height: 35px;
    background-image: linear-gradient(to top right, rgb(0, 85, 255), rgb(9, 4, 81));
    clip-path: polygon(0 10%, 10% -10%, 100% 0, 100% 0%, 100% 100%, 100% 100%, 5% 100%, 0% 85%, 0% 10%)
}

.pt2 {
    left: 280px;
    position: inherit;
    width: 60px;
    height: 35px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(53, 53, 53));
}

.pt3 {
    right: 0px;
    position: inherit;
    width: 250px;
    height: 35px;
    background-image: linear-gradient(to top left, rgb(255, 136, 0), rgb(59, 32, 1));
    clip-path: polygon(0 0%, 0% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 0% 100%, 0% 90%, 0% 10%);
}

.scoreback {
    position: inherit;
    width: 30px;
    height: 35px;
    background-color: rgb(0, 85, 255);
    left: 250px;
}

.scoreback2 {
    position: inherit;
    width: 30px;
    height: 35px;
    background-color: rgb(255, 136, 0);
    left: 340px;
}

.timer {
    position: inherit;
    padding: 0%;
    margin: 0%;
    color: white;
    top: 10%;
    left: 10%;
    font-size: x-large;
}

/* -- End -- */
/* -- Stats -- */
.data {
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 150px;
    height: 30px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 85, 255));
}

.data2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    gap: 45px;
    bottom: 0%;
    left: 150px;
    width: 450px;
    height: 30px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 85, 255));
    clip-path: polygon(0 0%, 0% 0%, 100% 0%, 98% 0%, 96% 100%, 95% 100%, 0% 100%, 0% 90%, 0% 10%);
}

.statsp {
    position: absolute;
    left: 10px;
    padding: 0%;
    margin: 0%;
    color: white;
    font-size: x-large;
}

.statss {
    padding: 0%;
    margin: 0%;
    color: white;
}

.pscore {
    position: absolute;
    top: 6px;
    left: 40px;
    padding: 0%;
    margin: 0%;
    color: white;
}

.statsg {
    padding: 0%;
    margin: 0%;
    color: white;
}

.goals {
    position: absolute;
    top: 6px;
    left: 130px;
    padding: 0%;
    margin: 0%;
    color: white;
}

.statsa {
    padding: 0%;
    margin: 0%;
    color: white;
}

.assists {
    position: absolute;
    top: 6px;
    left: 220px;
    padding: 0%;
    margin: 0%;
    color: white;
}

.statssa {
    padding: 0%;
    margin: 0%;
    color: white;
}

.saves {
    position: absolute;
    top: 6px;
    left: 310px;
    padding: 0%;
    margin: 0%;
    color: white;
}

.statsd {
    padding: 0%;
    margin: 0%;
    color: white;
}

.demos {
    position: absolute;
    top: 6px;
    left: 400px;
    padding: 0%;
    margin: 0%;
    color: white;
}

/* -- End -- */